<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login Page</title>
</head>
<body>
<h2> Form Login</h2>
<form  th:object="${LoginReq}" th:action="@{/log}" method="POST">
<label for="username" >Username:</label>
<input type="text" id="username" name="username" required />
<label for="password" >Password:</label>
<input type="text" id="password" name="password" required />
<button type="submit">Login</button>
</form>
<div th:if="${errorMessage}" class="alert alert-danger">
    <span th:text="${errorMessage}"></span>
</div>
<div>
         <p style="color: red;" th:if="${param.error}">Invalid username or password. Please try again.</p>
        <p style="color: green;" th:if="${param.logout}">You have been logged out successfully.</p>
    </div>
<p>New user? <a href="/">Register here</a></p>
</body>
</html>